@use "sass:math";
:root {
  --color-violet: #393185;
  --color-violet-light: #675DC3;
  --color-white: #ffffff;
  --color-black: #202020;
  --color-gray: #BABABA;
  --color-gray-dark: #818181;
  --color-red: #D24344;
  --color-green: #48B16E;
  --color-orange: #F9B974;
  --color-indigo: #5EB1FF;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1.2;
  font-family: "Raleway", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Raleway", sans-serif;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  text-align: left;
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #FAFAFA;
  color: var(--color-black);
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.container {
  width: 100%;
  max-width: 1390px;
  margin: 0 auto;
  padding: 0 15px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 24px;
  color: var(--color-black);
  font-weight: 600;
  line-height: 1.35;
}

.h1_white,
.h2_white,
.h3_white,
.h4_white,
.h5_white,
.h6_white {
  color: var(--color-white);
}

.h1_gold,
.h2_gold,
.h3_gold,
.h4_gold,
.h5_gold,
.h6_gold {
  color: var(--color-gold);
}

.h1 {
  font-size: 32px;
}

.h2 {
  font-size: 28px;
}

.h3 {
  font-size: 24px;
}

.h4 {
  font-size: 20px;
}

.h5 {
  font-size: 18px;
}

.h6 {
  font-size: 16px;
}

.button {
  display: inline-block;
  padding: 13px 40px;
  font-size: 20px;
  color: var(--color-violet);
  font-weight: 500;
  text-align: center;
  border: 2px solid var(--color-violet);
  background-color: transparent;
  border-radius: 30px;
  white-space: nowrap;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button:hover {
  color: var(--color-white);
  background-color: var(--color-violet);
}

.button:disabled {
  cursor: not-allowed;
  color: var(--color-white);
  background-color: var(--color-gray);
  border-color: var(--color-gray);
}

.button_white {
  color: var(--color-white);
  border-color: var(--color-white);
}

.button_white:hover {
  color: var(--color-violet);
  background-color: var(--color-white);
}

.link {
  position: relative;
}

.link:before {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--color-violet);
  position: absolute;
  left: 0;
  bottom: -5px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.link:hover {
  color: var(--color-violet);
}

.link:hover:before {
  width: 100%;
}

.header {
  background-color: var(--color-violet);
  position: relative;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  width: 243px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list {
  margin: 0 auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__phone {
  padding: 0px 0px 0px 30px;
  border-left: 1px solid var(--color-white);
  white-space: nowrap;
}

.header__phone a {
  font-size: 18px;
  color: var(--color-white);
}

.header__phone a:hover {
  color: var(--color-gray);
}

.header__consultation {
  padding: 0px 0px 0px 40px;
}

.header__consultation a {
  font-size: 16px;
}

.header__overflow {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0;
  visibility: hidden;
  z-index: 9;
}

.menu-header {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu-header > li {
  margin: 0px 0px 30px 0px;
}

.menu-header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 20px;
  color: var(--color-white);
  cursor: pointer;
}

.menu-header__link > i {
  margin: 0px 0px 0px 12px;
  font-size: 14px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.menu-header__link > i:before {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu-header__link:hover {
  color: var(--color-gray);
}

.submenu-header {
  display: none;
  padding: 70px 15px 30px;
  width: 100%;
  height: 100%;
  max-width: 400px;
  background-color: var(--color-violet);
  position: fixed;
  z-index: 11;
  top: 0;
  right: 0;
  overflow: auto;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.submenu-header._sub-menu-open {
  display: block;
}

.submenu-header__back {
  width: 100%;
  margin: 0px 0px 30px 0px;
  font-size: 20px;
  color: var(--color-white);
  font-weight: 500;
}

.submenu-header__title {
  display: block;
  margin: 0px 0px 30px 0px;
  font-size: 20px;
  color: var(--color-white);
}

.submenu-header__title:hover {
  color: var(--color-gray);
}

.submenu-header__list {
  display: none;
}

.button-menu {
  display: none;
}

.menu-open .header__nav {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.menu-open .header__overflow {
  opacity: 1;
  visibility: visible;
}

.menu-open .button-menu span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.menu-open .button-menu span:first-child {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 8px;
}

.menu-open .button-menu span:last-child {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: 8px;
}

.footer {
  padding: 60px 0px;
  background-color: var(--color-violet);
  font-size: 16px;
  color: var(--color-white);
}

.footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer a {
  color: var(--color-white);
}

.footer a:hover {
  color: var(--color-gray);
}

.footer-top {
  margin: 0px 0px 45px 0px;
}

.footer-top__section:not(:last-child) {
  margin: 0px 0px 30px 0px;
}

.footer-top__title {
  margin: 0px 0px 25px 0px;
  font-size: 20px;
  color: var(--color-gray);
  text-transform: uppercase;
}

.footer-top__list li:not(:last-child) {
  margin: 0px 0px 15px 0px;
}

.footer-top__list a {
  font-size: 16px;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-links li:not(:last-child) {
  margin: 0px 40px 0px 0px;
}

.social-links a {
  font-size: 25px;
}

.social-links a:hover {
  -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
          transform: translateY(-3px);
}

.policy-links li:not(:last-child) {
  margin: 0px 0px 13px 0px;
}

.policy-links a {
  font-size: 14px;
}

.footer-bottom {
  padding: 10px 0px 0px 0px;
  border-top: 1px solid var(--color-gray);
  font-size: 14px;
}

.footer-bottom__developer a {
  color: var(--color-white);
}

.form-news {
  position: relative;
}

.form-news__header {
  display: none;
}

.form-news__title-category {
  padding-right: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 18px;
  color: var(--color-gold);
  text-align: center;
}

.form-news__button-menu i {
  font-size: 30px;
  color: var(--color-gold);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.form-news__button-menu._active i:before {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.form-news__menu {
  padding-top: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-news-category {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-black);
  cursor: pointer;
}

.item-news-category:hover:not(._active) {
  color: var(--color-black);
  background-color: var(--color-gray);
}

.item-news-category._active {
  color: var(--color-white);
  background-color: var(--color-gold);
  cursor: default;
}

.form-question-answer__item input {
  display: none;
}

.form-question-answer__item input:checked + .form-question-answer__label {
  color: var(--color-gold);
  border-color: var(--color-gold);
}

.form-question-answer__label {
  padding: 12px 0px 12px 20px;
  margin: 0;
  font-size: 18px;
  color: var(--color-black);
  border-left: 8px solid var(--color-gray);
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.form-question-answer__label:hover {
  color: var(--color-gold-light);
}

.form-documents__button-close {
  font-size: 30px;
  position: absolute;
  top: 15px;
  right: 15px;
}

.form-documents__input {
  margin: 0px 0px 30px 0px;
  font-size: 16px;
  color: var(--color-gray-dark);
  position: relative;
}

.form-documents__input input {
  width: 100%;
  padding: 10px 35px 10px 15px;
  font-size: 16px;
  color: var(--color-gray-dark);
  border: 1px solid var(--color-gold);
}

.form-documents__input input:focus {
  -webkit-box-shadow: 0px 0px 7px 1px rgba(196, 122, 44, 0.2) inset;
          box-shadow: 0px 0px 7px 1px rgba(196, 122, 44, 0.2) inset;
}

.form-documents__input i {
  position: absolute;
  top: 10px;
  right: 10px;
}

.form-documents__clear-all {
  font-size: 16px;
  color: var(--color-gray-dark);
}

.form-documents__clear-all:hover {
  text-decoration: underline;
}

.form-documents__checkbox:not(:last-child) {
  margin: 0px 0px 30px 0px;
}

.form-documents__checkbox > .checkbox {
  margin: 0px 0px 15px 0px;
}

.form-documents__sub-checkbox {
  padding-left: 40px;
}

.form-documents__sub-checkbox .checkbox:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.label {
  margin: 0px 0px 10px 0px;
  font-weight: 500;
}

.input {
  font-size: 16px;
  color: var(--color-black);
}

.input._error > input {
  border-color: red;
}

.input._error > .input__text-error {
  display: block;
}

.input._error-email > .input__text-error-email {
  display: block;
}

.input label {
  margin: 0px 0px 10px 0px;
  display: block;
  font-weight: 500;
}

.input label span {
  color: var(--color-red);
}

.input input {
  width: 100%;
  padding: 15px;
  border: 1px solid var(--color-gray);
  background-color: transparent;
}

.input input:-webkit-autofill,
.input input:-webkit-autofill:hover,
.input input:-webkit-autofill:focus,
.input input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--color-white) inset !important;
}

.input input:focus {
  border: 1px solid var(--color-gold);
  -webkit-box-shadow: 0 0 7px 1px rgba(196, 122, 44, 0.2) inset;
          box-shadow: 0 0 7px 1px rgba(196, 122, 44, 0.2) inset;
}

.input input:disabled {
  background-color: var(--color-gray);
}

.input__password {
  position: relative;
}

.input__password .icon-password {
  font-size: 25px;
  color: var(--color-gray);
  position: absolute;
  top: 50%;
  right: 17px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
  cursor: pointer;
}

.input__password._error > input {
  border-color: red;
}

.input__password._error ~ .input__text-error {
  display: block;
}

.input__email {
  position: relative;
}

.input__email .i {
  display: none;
}

.input__email._check i {
  font-size: 18px;
  color: #5CB85C;
  position: absolute;
  top: 50%;
  right: 17px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
  cursor: pointer;
}

.input__email._check ~ .input__text-email {
  display: block;
}

.input__text-error,
.input__text-error-email {
  margin: 10px 0px 0px 0px;
  display: none;
  font-size: 14px;
  color: var(--color-red);
}

.input__text-email {
  margin: 10px 0px 0px 0px;
  display: none;
  font-size: 14px;
  color: var(--color-gray);
}

.checkbox._error > .checkbox__label:before {
  border-color: var(--color-red);
}

.checkbox input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox input:checked + .checkbox__label:before {
  border: 2px solid var(--color-gold);
}

.checkbox input:checked + .checkbox__label:after {
  content: '';
  position: absolute;
  left: 7px;
  top: 7px;
  width: 12px;
  height: 7px;
  border-left: 2.5px solid var(--color-gold);
  border-bottom: 2.5px solid var(--color-gold);
  -webkit-transform: rotate(-50deg);
      -ms-transform: rotate(-50deg);
          transform: rotate(-50deg);
}

.checkbox__label {
  font-size: 16px;
  color: var(--color-black);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}

.checkbox__label_text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.checkbox__label_count {
  margin: 0px 3px 0px 10px;
  color: var(--color-gray-dark);
}

.checkbox__label:before {
  content: '';
  margin: 0px 16px 0px 0px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25px;
          flex: 0 0 25px;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: 1px solid var(--color-gray-dark);
  border-radius: 3px;
  left: 0;
  top: 0;
}

.checkbox__label a {
  color: var(--color-blue-light);
}

.checkbox__label a:hover {
  text-decoration: underline;
}

.radio input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.radio input:checked + .radio__label:before {
  border-color: var(--color-gold);
}

.radio input:checked + .radio__label:after {
  content: '';
  position: absolute;
  left: 6px;
  top: 6px;
  width: 12px;
  height: 12px;
  background-color: var(--color-gold);
  border-radius: 50%;
}

.radio__label {
  font-size: 16px;
  color: var(--color-black);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  cursor: pointer;
}

.radio__label:before {
  content: '';
  margin: 0px 12px 0px 0px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: 2px solid var(--color-gray-dark);
  border-radius: 50%;
  left: 0;
  top: 0;
}

.select {
  width: 100%;
  padding: 15px;
  border: 1px solid var(--color-gray);
  background-color: transparent;
}

.select:focus {
  border: 1px solid var(--color-gold);
  -webkit-box-shadow: 0 0 7px 1px rgba(196, 122, 44, 0.2) inset;
          box-shadow: 0 0 7px 1px rgba(196, 122, 44, 0.2) inset;
}

.textarea {
  font-size: 16px;
  color: var(--color-black);
}

.textarea._error > input {
  border-color: red;
}

.textarea._error > .input__text-error {
  display: block;
}

.textarea label {
  margin: 0px 0px 10px 0px;
  display: block;
  font-weight: 500;
}

.textarea label span {
  color: var(--color-red);
}

.textarea textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid var(--color-gray);
  background-color: transparent;
}

.textarea textarea:focus {
  border: 1px solid var(--color-gold);
  -webkit-box-shadow: 0 0 7px 1px rgba(196, 122, 44, 0.2) inset;
          box-shadow: 0 0 7px 1px rgba(196, 122, 44, 0.2) inset;
}

.textarea__text-error {
  margin: 10px 0px 0px 0px;
  display: none;
  font-size: 14px;
  color: var(--color-red);
}

.file-input__title {
  margin: 0px 0px 10px 0px;
  font-size: 16px;
  font-weight: 500;
}

.file-input input {
  width: 0.1px;
  height: 0.1px;
  overflow: hidden;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.file-input label {
  width: 100%;
  padding: 20px;
  color: var(--color-gray);
  border: 1px dashed var(--color-gray);
  cursor: pointer;
  display: block;
  position: relative;
}

.file-input label i {
  font-size: 30px;
}

.file-input label:hover {
  color: var(--color-gray-dark);
  border-color: var(--color-gold);
}

.file-input__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.file-input__btn-remove {
  color: var(--color-gray);
  font-size: 30px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: absolute;
  top: 5px;
  right: 5px;
}

.file-input__btn-remove:hover {
  color: var(--color-gold);
  -webkit-transform: rotate(360deg) scale(1.2);
      -ms-transform: rotate(360deg) scale(1.2);
          transform: rotate(360deg) scale(1.2);
}

.form-check {
  margin-bottom: 0;
}

.form-switch {
  padding-left: 0;
}

.form-switch .form-check-input {
  margin: 0;
  border: none;
  background-image: none;
  background-color: var(--color-gray);
  width: 44px;
  height: 24px;
  position: relative;
  cursor: pointer;
}

.form-switch .form-check-input:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  background: var(--color-white);
  border-radius: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.form-switch .form-check-input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-switch .form-check-input:active {
  -webkit-filter: none;
          filter: none;
}

.form-switch .form-check-input:active:after {
  width: 25px;
}

.form-switch .form-check-input:checked {
  background-image: none;
  background-color: var(--color-gold);
}

.form-switch .form-check-input:checked:after {
  left: calc(100% - 2px);
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}

.profile-photo {
  width: 200px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
  height: 200px;
  position: relative;
}

.profile-photo__body {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.profile-photo img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.profile-photo:hover .profile-photo__input {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
}

.profile-photo:hover .profile-photo__delete {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
  visibility: visible;
}

.profile-photo__input {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0)), color-stop(38.54%, rgba(21, 21, 21, 0.08)), color-stop(64.06%, rgba(20, 20, 20, 0.22)), color-stop(99.6%, rgba(26, 26, 26, 0.68)));
  background: -o-linear-gradient(top, rgba(22, 22, 22, 0) 0%, rgba(21, 21, 21, 0.08) 38.54%, rgba(20, 20, 20, 0.22) 64.06%, rgba(26, 26, 26, 0.68) 99.6%);
  background: linear-gradient(180deg, rgba(22, 22, 22, 0) 0%, rgba(21, 21, 21, 0.08) 38.54%, rgba(20, 20, 20, 0.22) 64.06%, rgba(26, 26, 26, 0.68) 99.6%);
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.2s ease 0s;
  transition: -webkit-transform 0.2s ease 0s;
  -o-transition: transform 0.2s ease 0s;
  transition: transform 0.2s ease 0s;
  transition: transform 0.2s ease 0s, -webkit-transform 0.2s ease 0s;
}

.profile-photo__input label {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 14px 0px;
  font-size: 16px;
  color: var(--color-white);
  cursor: pointer;
}

.profile-photo__input label i {
  font-size: 32px;
}

.profile-photo__input input {
  display: none;
}

.profile-photo__delete {
  width: 34px;
  height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color-gray);
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 20px;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.2s ease 0s;
  -o-transition: 0.2s ease 0s;
  transition: 0.2s ease 0s;
}

.profile-photo__delete i {
  font-size: 20px;
}

.profile-photo__delete:hover {
  background-color: #e0e0e4;
}

.notification-all {
  font-size: 14px;
  color: var(--color-gray);
}

.notification-all .checkbox input:checked + .checkbox__label:after {
  left: 4px;
  top: 7px;
  width: 8px;
  height: 5px;
}

.notification-all .checkbox__label:before {
  margin: 3px 8px 0 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16px;
          flex: 0 0 16px;
  width: 16px;
  height: 16px;
}

.notification-all__btn-clear {
  font-size: 16px;
}

.notification-all__btn-clear:hover {
  text-decoration: underline;
}

.item-form-accordion:not(:last-child) {
  margin: 0px 0px 24px 0px;
}

.item-form-accordion__title {
  border-bottom: 1px solid var(--color-gray);
}

.item-form-accordion__button {
  width: 100%;
  padding: 16px 0px;
  color: var(--color-black);
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
}

.item-form-accordion__button span {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: left;
}

.item-form-accordion__button i:before {
  font-size: 20px;
  font-weight: 700 !important;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.item-form-accordion__button.collapsed i:before {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.item-form-accordion__body {
  padding: 24px 24px 0px;
}

.wrapper-form {
  width: 100%;
  max-width: 550px;
}

.accordion-form:not(:last-child) {
  margin: 0px 0px 30px 0px;
}

.accordion-form__button {
  padding-bottom: 16px;
  width: 100%;
  font-size: 16px;
  color: var(--color-blue-light);
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.accordion-form__button span {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: left;
}

.accordion-form__button i:before {
  color: var(--color-gray-dark);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.accordion-form__button.collapsed i:before {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.accordion-form__filter {
  max-height: 220px;
  overflow-y: auto;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.cursor {
  display: inline-block;
  background-color: rgba(57, 49, 133, 0.5);
  margin-left: 0.1rem;
  width: 3px;
  -webkit-animation: blink 1s infinite;
          animation: blink 1s infinite;
}

.cursor.typing {
  -webkit-animation: none;
          animation: none;
}

@-webkit-keyframes blink {
  0% {
    background-color: rgba(57, 49, 133, 0.5);
  }

  49% {
    background-color: rgba(57, 49, 133, 0.5);
  }

  50% {
    background-color: transparent;
  }

  99% {
    background-color: transparent;
  }

  100% {
    background-color: rgba(57, 49, 133, 0.5);
  }
}

@keyframes blink {
  0% {
    background-color: rgba(57, 49, 133, 0.5);
  }

  49% {
    background-color: rgba(57, 49, 133, 0.5);
  }

  50% {
    background-color: transparent;
  }

  99% {
    background-color: transparent;
  }

  100% {
    background-color: rgba(57, 49, 133, 0.5);
  }
}

.main-block {
  padding: 100px 0px;
}

.main-block__title {
  margin-bottom: 60px;
  font-size: 60px;
  color: var(--color-violet);
  font-weight: 600;
}

.main-block__text {
  width: 100%;
  max-width: 660px;
  margin-bottom: 60px;
  font-size: 20px;
  color: var(--color-black);
}

.numbers {
  padding: 80px 0px;
  background-color: var(--color-violet);
  color: var(--color-white);
}

.numbers__title {
  margin-bottom: 60px;
  font-size: 40px;
}

.item-numbers__count {
  margin: 0px 0px 5px 0px;
  font-size: 44px;
}

.item-numbers__text {
  font-size: 18px;
}

@media (min-width: 768px) {
  .item-news-category {
    margin: 0px 10px 0px 0px;
    height: 100%;
    padding: 10px 17px;
    border-top: 1px solid var(--color-gray);
    border-left: 1px solid var(--color-gray);
    border-right: 1px solid var(--color-gray);
    background-color: transparent;
  }

  .item-news-category:last-child {
    margin: 0px;
  }
}

@media (min-width: 992px) {
  .menu-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu-header > li {
    margin: 0px 75px 0px 0px;
  }

  .menu-header__item:hover > .submenu-header {
    opacity: 1;
    visibility: visible;
  }

  .menu-header__item:hover .menu-header__link {
    color: var(--color-gray);
  }

  .menu-header__item:hover .menu-header__link:after {
    width: 100%;
  }

  .menu-header__item:hover > .menu-header__link i:before {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }

  .menu-header__item:hover:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 0;
    pointer-events: none;
    height: 100vh;
  }

  .menu-header__link {
    padding: 30px 0px;
    position: relative;
  }

  .menu-header__link:after {
    content: '';
    width: 0;
    height: 4px;
    background-color: var(--color-white);
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu-header__link > i {
    font-size: 12px;
    -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
            transform: rotate(0);
  }

  .menu-header__link > i:before {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .submenu-header {
    padding: 0;
    display: block;
    height: auto;
    max-width: none;
    background-color: var(--color-white);
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    opacity: 0;
    visibility: hidden;
    -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
            box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }

  .submenu-header__back {
    display: none;
  }

  .submenu-header__body {
    width: 100%;
    max-width: 1390px;
    margin: 0 auto;
    padding: 40px 15px;
  }

  .submenu-header__section:not(:last-child) {
    margin: 0px 0px 42px 0px;
  }

  .submenu-header__title {
    display: block;
    margin: 0px 0px 32px 0px;
    padding: 0px 0px 10px 0px;
    border-bottom: 1px solid var(--color-gray);
    font-size: 16px;
    color: var(--color-gray);
    text-transform: uppercase;
  }

  .submenu-header__title:hover {
    color: var(--color-violet);
  }

  .submenu-header__list {
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .submenu-header__list li:not(:last-child) {
    margin: 0px 0px 24px 0px;
  }

  .submenu-header__link {
    font-size: 16px;
    color: var(--color-black);
  }

  .submenu-header__link:hover {
    color: var(--color-violet-light);
  }
}

@media (min-width: 1100px) {
  .form-documents__button-open {
    display: none;
  }

  .form-documents__button-close {
    display: none;
  }
}

@media (max-width: 1390px) {
  .main-block__title {
    margin-bottom: calc(30px + 30 * ((100vw - 320px) / 1070));
  }

  .main-block__title {
    font-size: calc(30px + 30 * ((100vw - 320px) / 1070));
  }

  .main-block__text {
    margin-bottom: calc(30px + 30 * ((100vw - 320px) / 1070));
  }

  .numbers__title {
    margin-bottom: calc(30px + 30 * ((100vw - 320px) / 1070));
  }

  .numbers__title {
    font-size: calc(25px + 15 * ((100vw - 320px) / 1070));
  }

  .item-numbers__count {
    font-size: calc(30px + 14 * ((100vw - 320px) / 1070));
  }
}

@media (max-width: 1150px) {
  .header__phone {
    padding: 0px 0px 0px 20px;
  }
}

@media (max-width: 1100px) {
  .form-documents__wrapper {
    height: 100%;
    width: 100%;
    max-width: 400px;
    padding: 70px 30px 30px;
    background-color: var(--color-white);
    -webkit-box-shadow: -7px 0px 7px -1px rgba(0, 0, 0, 0.2);
            box-shadow: -7px 0px 7px -1px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0px;
    right: 0;
    z-index: 12;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transform: translateX(120%);
        -ms-transform: translateX(120%);
            transform: translateX(120%);
    overflow-y: auto;
  }

  .form-documents__wrapper._open {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
  }

  .form-documents__input {
    margin: 0px 0px 40px 0px;
  }
}

@media (max-width: 1100px) and (max-width: 576px) {
  .form-documents__wrapper {
    padding: 70px 15px 15px;
  }
}

@media (max-width: 1050px) {
  .header__consultation {
    display: none;
  }
}

@media (max-width: 992px) {
  .header {
    padding: 10px 0px;
  }

  .header__nav {
    padding: 70px 15px 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    max-width: 400px;
    height: 100%;
    background-color: var(--color-violet);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transform: translateX(120%);
        -ms-transform: translateX(120%);
            transform: translateX(120%);
  }

  .header__nav:before {
    content: '';
    width: 100%;
    height: 61px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--color-violet);
    z-index: 21;
  }

  .header__phone {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    padding: 20px 0px 0px 0px;
    border-left: none;
    border-top: 1px solid var(--color-white);
  }

  .header__phone a {
    font-size: 18px;
    color: var(--color-white);
  }

  .header__phone a:hover {
    color: var(--color-gray);
  }

  .header__consultation {
    width: 100%;
    display: block;
    margin: 20px 0px 0px 0px;
    padding: 30px 0px 0px 0px;
    text-align: center;
    border-top: 1px solid var(--color-white);
  }

  .submenu-header__body .row {
    display: block;
    margin: 0;
  }

  .submenu-header__body .row > div {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .button-menu {
    display: block;
    width: 30px;
    height: 18px;
    padding: 0;
    background-color: transparent;
    border-bottom: none;
    position: relative;
    z-index: 11;
  }

  .button-menu:hover {
    background-color: transparent;
  }

  .button-menu i {
    display: none;
  }

  .button-menu span {
    width: 100%;
    height: 2px;
    background-color: var(--color-white);
    position: absolute;
    top: 8px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .button-menu span:first-child {
    top: 0;
  }

  .button-menu span:last-child {
    top: auto;
    bottom: 0;
  }

  .footer {
    padding: 30px 0px;
  }

  .footer-top {
    margin: 0px 0px 30px 0px;
  }

  .footer-top__title {
    margin: 0px 0px 20px 0px;
  }
}

@media (max-width: 768px) {
  .form-news__header {
    padding: 0 15px;
    border-top: 1px solid var(--color-gray);
    border-left: 1px solid var(--color-gray);
    border-right: 1px solid var(--color-gray);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .form-news__menu {
    padding: 12px 0;
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 2;
    width: 280px;
    background-color: var(--color-white);
    -webkit-box-shadow: 0px 4px 4px rgba(106, 58, 7, 0.25), -6px 0px 4px rgba(106, 58, 7, 0.25);
            box-shadow: 0px 4px 4px rgba(106, 58, 7, 0.25), -6px 0px 4px rgba(106, 58, 7, 0.25);
  }

  .form-news__menu._show {
    display: block;
  }

  .item-news-category {
    display: block;
    padding: 10px 24px;
  }
}

@media (max-width: 576px) {
  .item-form-accordion__body {
    padding: 16px 8px 0px;
  }
}

@media (min-width: 992px) and (max-width: 1300px) {
  .menu-header li {
    margin: 0px 40px 0px 0px;
  }
}

@media (min-width: 992px) and (max-width: 1150px) {
  .menu-header li {
    margin: 0px 20px 0px 0px;
  }

  .menu-header .menu-header__link i {
    margin: 0px 0px 0px 8px;
  }
}