
.form-news {
  position: relative;

  &__header {
    display: none;

    @media (max-width: $md3+px) {
      padding: 0 15px;
      border-top: 1px solid var(--color-gray);
      border-left: 1px solid var(--color-gray);
      border-right: 1px solid var(--color-gray);
      display: flex;
      align-items: center;
    }
  }

  &__title-category {
    padding-right: 20px;
    flex: 1 1 auto;
    font-size: 18px;
    color: var(--color-gold);
    text-align: center;
  }

  &__button-menu {
    i {
      font-size: 30px;
      color: var(--color-gold);
      transition: all 0.3s ease 0s;
    }

    &._active {
      i:before {
        transform: rotate(180deg);
      }
    }
  }


  &__menu {
    padding-top: 3px;
    display: flex;
  }

  @media (max-width: $md3+px) {
    &__menu {
      padding: 12px 0;
      display: none;
      position: absolute;
      top: 100%;
      right: 0;
      z-index: 2;
      width: 280px;
      background-color: var(--color-white);
      box-shadow: 0px 4px 4px rgba(106, 58, 7, 0.25), -6px 0px 4px rgba(106, 58, 7, 0.25);

      &._show {
        display: block;
      }
    }
  }
}

.item-news-category {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-black);
  cursor: pointer;

  &:hover:not(._active) {
    color: var(--color-black);
    background-color: var(--color-gray);
  }

  @media (min-width: $md3+px) {
    margin: 0px 10px 0px 0px;
    height: 100%;
    padding: 10px 17px;
    border-top: 1px solid var(--color-gray);
    border-left: 1px solid var(--color-gray);
    border-right: 1px solid var(--color-gray);
    background-color: transparent;

    &:last-child {
        margin: 0px;
    }
  }

  @media (max-width: $md3+px) {
    display: block;
    padding: 10px 24px;
  }

  &._active {
    color: var(--color-white);
    background-color: var(--color-gold);
    cursor: default;
  }
}

.form-question-answer {

  &__item {
    input {
      display: none;

      &:checked + .form-question-answer__label {
        color: var(--color-gold);
        border-color: var(--color-gold);
      }
    }
  }

  &__label {
    padding: 12px 0px 12px 20px;
    margin: 0;
    font-size: 18px;
    color: var(--color-black);
    border-left: 8px solid var(--color-gray);
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease 0s;

    &:hover {
      color: var(--color-gold-light);
    }
  }
}

.form-documents {

  // .form-documents__button-open
  &__button-open {
    @media (min-width: 1100px) {
      display: none;
    }
  }

  // .form-documents__button-close
  &__button-close {
    font-size: 30px;
    position: absolute;
    top: 15px;
    right: 15px;

    @media (min-width: 1100px) {
      display: none;
    }
  }

  // .form-documents__wrapper
  &__wrapper {
    @media (max-width: $md1+px) {
      height: 100%;
      width: 100%;
      max-width: 400px;
      padding: 70px 30px 30px;
      background-color: var(--color-white);
      box-shadow: -7px 0px 7px -1px rgba(0, 0, 0, 0.2);
      position: fixed;
      top: 0px;
      right: 0;
      z-index: 12;
      transition: all 0.3s ease 0s;
      transform: translateX(120%);
      overflow-y: auto;

      &._open {
        transform: translateX(0%);
      }
      
     @media (max-width: $md4+px) {
       padding: 70px 15px 15px;
     }
    }
  }

  // .form-documents__input
  &__input {
    margin: 0px 0px 30px 0px;
    font-size: 16px;
    color: var(--color-gray-dark);
    position: relative;

    input {
      width: 100%;
      padding: 10px 35px 10px 15px;
      font-size: 16px;
      color: var(--color-gray-dark);
      border: 1px solid var(--color-gold);

      &:focus {
        box-shadow: 0px 0px 7px 1px rgba(196, 122, 44, 0.2) inset;
      }
    }

    i {
      position: absolute;
      top: 10px;
      right: 10px;
    }
    
    @media (max-width: $md1+px) {
        margin: 0px 0px 40px 0px;
    }
  }

  // .form-documents__clear-all
  &__clear-all {
    font-size: 16px;
    color: var(--color-gray-dark);

    &:hover {
      text-decoration: underline;
    }
  }

  // .form-documents__filter
  &__filter {

  }

  // .form-documents__checkbox
  &__checkbox {
    &:not(:last-child) {
      margin: 0px 0px 30px 0px;
    }

    > .checkbox {
      margin: 0px 0px 15px 0px;
    }
  }

  // .form-documents__sub-checkbox
  &__sub-checkbox {
    padding-left: 40px;
    .checkbox:not(:last-child) {
      margin: 0px 0px 10px 0px;
    }
  }
}

.label {
  margin: 0px 0px 10px 0px;
  font-weight: 500;
}

.input {
  font-size: 16px;
  color: var(--color-black);

  &._error {
    > input {
      border-color: red;
    }

    > .input__text-error {
      display: block;
    }
  }

  &._error-email > .input__text-error-email {
    display: block;
  }

  label {
    margin: 0px 0px 10px 0px;
    display: block;
    font-weight: 500;

    span {
      color: var(--color-red);
    }
  }

  input {
    width: 100%;
    padding: 15px;
    border: 1px solid var(--color-gray);
    background-color: transparent;

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 30px var(--color-white) inset !important;
    }

    &:focus {
      border: 1px solid var(--color-gold);
      box-shadow: 0 0 7px 1px rgba(196, 122, 44, 0.2) inset;
    }

    &:disabled {
      background-color: var(--color-gray);
    }
  }
  // .input__password
  &__password {
    position: relative;

    .icon-password {
      font-size: 25px;
      color: var(--color-gray);
      position: absolute;
      top: 50%;
      right: 17px;
      transform: translateY(-50%);
      z-index: 2;
      cursor: pointer;
    }
    &._error > input {
      border-color: red;
    }

    &._error ~ .input__text-error {
      display: block;
    }
  }
  // .input__email
  &__email {
    position: relative;

    .i {
      display: none;
    }

    &._check i {
      font-size: 18px;
      color: #5CB85C;
      position: absolute;
      top: 50%;
      right: 17px;
      transform: translateY(-50%);
      z-index: 2;
      cursor: pointer;
    }

    &._check ~ .input__text-email {
      display: block;
    }
  }
  // .input__text-error
  // .input__text-error-email
  &__text-error,
  &__text-error-email {
    margin: 10px 0px 0px 0px;
    display: none;
    font-size: 14px;
    color: var(--color-red);
  }
  // .input__text-email
  &__text-email {
    margin: 10px 0px 0px 0px;
    display: none;
    font-size: 14px;
    color: var(--color-gray);
  }
}

.checkbox {
  &._error > .checkbox__label:before {
    border-color: var(--color-red);
  }

  input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:checked + .checkbox__label:before {
      border: 2px solid var(--color-gold);
    }

    &:checked + .checkbox__label:after {
      content: '';
      position: absolute;
      left: 7px;
      top: 7px;
      width: 12px;
      height: 7px;
      border-left: 2.5px solid var(--color-gold);
      border-bottom: 2.5px solid var(--color-gold);
      transform: rotate(-50deg);
    }
  }
  //.checkbox__label
  &__label {
    font-size: 16px;
    color: var(--color-black);
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;

    //.checkbox__label_text
    &_text {
      flex: 1 1 auto;
    }

    //.checkbox__label_count
    &_count {
      margin: 0px 3px 0px 10px;
      color: var(--color-gray-dark);
    }

    &:before {
      content:'';
      margin: 0px 16px 0px 0px;
      align-self: flex-start;
      flex: 0 0 25px;
      width: 25px;
      height: 25px;
      background-color: transparent;
      border: 1px solid var(--color-gray-dark);
      border-radius: 3px;
      left: 0;
      top: 0;
    }

    a {
      color: var(--color-blue-light);

      &:hover {
          text-decoration: underline;
      }
    }
  }
}

.radio {

  input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:checked + .radio__label:before {
      border-color: var(--color-gold);
    }

    &:checked + .radio__label:after {
      content: '';
      position: absolute;
      left: 6px;
      top: 6px;
      width: 12px;
      height: 12px;
      background-color: var(--color-gold);
      border-radius: 50%;
    }
  }
  //.radio__label
  &__label {
    font-size: 16px;
    color: var(--color-black);
    display: flex;
    position: relative;
    cursor: pointer;

    &:before {
      content:'';
      margin: 0px 12px 0px 0px;
      align-self: flex-start;
      flex: 0 0 24px;
      width: 24px;
      height: 24px;
      background-color: transparent;
      border: 2px solid var(--color-gray-dark);
      border-radius: 50%;
      left: 0;
      top: 0;
    }
  }
}

.select {
  width: 100%;
  padding: 15px;
  border: 1px solid var(--color-gray);
  background-color: transparent;

  &:focus {
    border: 1px solid var(--color-gold);
    box-shadow: 0 0 7px 1px rgba(196, 122, 44, 0.2) inset;
  }
}

.textarea {
  font-size: 16px;
  color: var(--color-black);

  &._error {
    > input {
      border-color: red;
    }

    > .input__text-error {
      display: block;
    }
  }

  label {
    margin: 0px 0px 10px 0px;
    display: block;
    font-weight: 500;

    span {
      color: var(--color-red);
    }
  }

  textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid var(--color-gray);
    background-color: transparent;

    &:focus {
      border: 1px solid var(--color-gold);
      box-shadow: 0 0 7px 1px rgba(196, 122, 44, 0.2) inset;
    }
  }

  &__text-error {
    margin: 10px 0px 0px 0px;
    display: none;
    font-size: 14px;
    color: var(--color-red);
  }
}

.file-input {
  &__title {
    margin: 0px 0px 10px 0px;
    font-size: 16px;
    font-weight: 500;
  }

  input {
    width: 0.1px;
    height: 0.1px;
    overflow: hidden;
    opacity: 0;
    position: absolute;
    z-index: -1;
  }

  label {
    width: 100%;
    padding: 20px;
    color: var(--color-gray);
    border: 1px dashed var(--color-gray);
    cursor: pointer;
    display: block;
    position: relative;

    i {
      font-size: 30px;
    }

    &:hover {
      color: var(--color-gray-dark);
      border-color: var(--color-gold);
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
  }

  &__btn-remove {
    color: var(--color-gray);
    font-size: 30px;
    transition: all 0.3s ease 0s;
    position: absolute;
    top: 5px;
    right: 5px;

    &:hover {
      color: var(--color-gold);
      transform: rotate(360deg) scale(1.2);
    }
  }
}

.form-check {
  margin-bottom: 0;
}

.form-switch {
  padding-left: 0;

  .form-check-input {
    margin: 0;
    border: none;
    background-image: none;
    background-color: var(--color-gray);
    width: 44px;
    height: 24px;
    position: relative;
    cursor: pointer;

    &:after {
      content: '';
      position: absolute;
      top: 2px;
      left: 2px;
      width: 20px;
      height: 20px;
      background: var(--color-white);
      border-radius: 50%;
      transition: all 0.3s ease 0s;
    }

    &:focus {
      box-shadow: none;
    }

    &:active {
      filter: none;

      &:after {
        width: 25px;
      }
    }

    &:checked {
      background-image: none;
      background-color: var(--color-gold);
    }

    &:checked:after {
      left: calc(100% - 2px);
      transform: translateX(-100%);
    }
  }
}

.profile-photo {
  width: 200px;
  flex: 0 0 200px;
  height: 200px;
  position: relative;

  // .profile-photo__body
  &__body {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
  }

  img  {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    object-fit: cover;
  }

  &:hover {
    .profile-photo__input {
      transform: translateY(0%);
    }

    .profile-photo__delete {
      transform: translateY(0%);
      opacity: 1;
      visibility: visible;
    }
  }

  // .profile-photo__input
  &__input {
    background: linear-gradient(180deg, rgba(22, 22, 22, 0) 0%, rgba(21, 21, 21, 0.08) 38.54%, rgba(20, 20, 20, 0.22) 64.06%, rgba(26, 26, 26, 0.68) 99.6%);
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
    transition: transform 0.2s ease 0s;

    label {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 14px 0px;
      font-size: 16px;
      color: var(--color-white);
      cursor: pointer;

      i {
        font-size: 32px;
      }
    }

    input {
      display: none;
    }
  }

  // .profile-photo__delete
  &__delete {
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-gray);
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 20px;
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease 0s;

    i {
      font-size: 20px;
    }
    
    &:hover {
      background-color: #e0e0e4;
      //color: var(--color-white);
    }
  }
}

.notification-all {
  font-size: 14px;
  color: var(--color-gray);

  .checkbox {
    input:checked + .checkbox__label:after {
      left: 4px;
      top: 7px;
      width: 8px;
      height: 5px;
    }

    &__label:before {
      margin: 3px 8px 0 0;
      flex: 0 0 16px;
      width: 16px;
      height: 16px;
    }
  }

  &__btn-clear {
    font-size: 16px;

    &:hover {
        text-decoration: underline;
    }
  }
}

.item-form-accordion {
  &:not(:last-child) {
    margin: 0px 0px 24px 0px;
  }

  &__title {
    border-bottom: 1px solid var(--color-gray);
  }

  &__button {
    width: 100%;
    padding: 16px 0px;
    color: var(--color-black);
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;

    span {
      flex: 1 1 auto;
      text-align: left;
    }

    i:before {
      font-size: 20px;
      font-weight: 700 !important;
      transition: all 0.3s ease 0s;
    }

    &.collapsed {
      i:before {
        transform: rotate(180deg);
      }
    }
  }

  &__body {
    padding: 24px 24px 0px;

    @media (max-width: $md4+px) {
      padding: 16px 8px 0px;
    }
  }
}

.wrapper-form {
  width: 100%;
  max-width: 550px;
}

.accordion-form {
  &:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }
  // .accordion-form__button
  &__button {
    padding-bottom: 16px;
    width: 100%;
    font-size: 16px;
    color: var(--color-blue-light);
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      flex: 1 1 auto;
      text-align: left;
    }

    i:before {
      color: var(--color-gray-dark);
      transition: all 0.3s ease 0s;
    }

    &.collapsed {
      i:before {
        transform: rotate(180deg);
      }
    }
  }
  // .accordion-form__filter
  &__filter {
    max-height: 220px;
    overflow-y: auto;
  }
}

