.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 24px;
  color: var(--color-black);
  font-weight: 600;
  line-height: 1.35;
}

.h1_white,
.h2_white,
.h3_white,
.h4_white,
.h5_white,
.h6_white {
  color: var(--color-white);
}

.h1_gold,
.h2_gold,
.h3_gold,
.h4_gold,
.h5_gold,
.h6_gold {
  color: var(--color-gold);
}

.h1 {
  font-size: 32px;
}

.h2 {
  font-size: 28px;
}

.h3 {
  font-size: 24px;
}

.h4 {
  font-size: 20px;
}

.h5 {
  font-size: 18px;
}

.h6 {
  font-size: 16px;
}

.section {
  @include adaptiv-value("margin-bottom", 130, 50, 1);
}

.button {
  display: inline-block;
  padding: 13px 40px;
  font-size: 20px;
  color: var(--color-violet);
  font-weight: 600;
  text-align: center;
  border: 2px solid var(--color-violet);
  background-color: transparent;
  border-radius: 30px;
  white-space: nowrap;
  transition: all 0.3s ease 0s;

  &:hover {
    color: var(--color-white);
    background-color: var(--color-violet);
  }

  &:disabled {
    cursor: not-allowed;
    color: var(--color-white);
    background-color: var(--color-gray);
    border-color: var(--color-gray);
  }

  &_white  {
    color: var(--color-white);
    border-color: var(--color-white);

    &:hover {
      color: var(--color-violet);
      background-color: var(--color-white);
    }
  }
}

.link-all {
  font-size: 18px;
  color: var(--color-gray);
  font-weight: 600;

  i:before {
    transition: all 0.3s ease 0s;
  }

  &:hover {
      i:before {
        transform: rotate(45deg);
      }
  }
}

.main-content {
  width: 100%;
  max-width: 650px;
  margin: 0px 0px 24px 0px;

  // .main-content__title
  &__title {
    @include adaptiv-value("font-size", 40, 24, 1);
    color: var(--color-violet);
    font-weight: 600;
  }

  // .main-content__text
  &__text {
    margin: 24px 0px 0px 0px;
    font-size: 18px;
    color: var(--color-gray);
  }
}

.item-accordion {
  background: var(--color-violet-gray);
  border-radius: 20px;
  &:not(:last-child) {
    margin: 0px 0px 20px 0px;
  }
  &:hover{
    background: #3931851a;
  }

  &__button {
    width: 100%;
    padding: 20px;
    font-size: 18px;
    color: var(--color-violet);
    font-weight: 600;
    display: flex;
    justify-content: space-between;

    &_text {
      flex: 1 1 auto;
      text-align: left;
    }

    &_icon {
      margin: 9px 0px 0px 16px;
      flex: 0 0 13px;
      height: 3px;
      background-color: var(--color-violet);
      position: relative;
      transform: rotate(0deg);
      transition: all 0.5s ease-in-out;
      
      &:before {
        content:'';
        width: 3px;
        height: 13px;
        background-color: var(--color-violet);
        position: absolute;
        top: -5px;
        left: 5px;
        opacity: 0;
        transition: all 0.5s ease-in-out;
      }
    }

    &.collapsed {
      .item-accordion {
        border-color: var(--color-violet);
      }
      .item-accordion__button_icon {
        transform: rotate(180deg);

        &:before {
          opacity: 1;
        }
      }
    }
  }


  &__body {
    padding: 0px 20px 20px;

    // @media (max-width: $md4+px) {
    //   padding: 16px 8px 8px;
    // }
  }


  &:hover {
    border-color: var(--color-violet);
  }
}

.services{
  // *{
  //   outline: 1px solid red;
  // }
  .services-wrapper{
    display: flex;
    flex-direction: row;
    background: rgba(57, 49, 133, 0.03);
    border-radius: 0px 50px;
    max-height: 315px;
    // *{
    //   outline: 1px solid red;
    // }
    .services-tabs{
      display: flex;
      flex-direction: column;
      background: var(--color-violet);
      border-radius: 0px 50px;
      padding: 35px 0px;
      max-width: 358px;
      width: 100%;
      align-items: flex-start;
      max-height: 315px;
      .button {
        display: flex;
        color: var(--color-white);
        font-style: normal;
        font-weight: 500;
        border: 1px solid var(--color-white);
        background-color: transparent;
        margin: 5px 32px;
        padding: 10px 20px;
        @include adaptiv-value("font-size", 16, 8, 1);
        // max-width: 294px;
        // min-width: 154px;
        justify-content: flex-start;
        align-items: flex-start;
        &:hover {
          color: var(--color-violet);
          background-color: var(--color-white-bg);
        }
    
      }
      .tab {
        cursor: pointer;
      }
      .tab-active {
        background-color: var(--color-white-bg);
        color: var(--color-violet);
        pointer-events: none;
      }
    }

    &__content{
      @include adaptiv-value("margin-left", 106, 10, 1);
      display: flex;
      align-items: center;
      .content {
        display: none;
        p{
          max-width: 814px;
        }
        .link-all {
          @include adaptiv-value("font-size", 18, 8, 1);
          color: var(--color-violet);
          font-weight: 500;
        }
      }
      .content-active {
        display: flex;
        flex-direction: column;
      }
    }
  }
}