:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gold: #c47a2c;
  --color-gold-light: #f9b974;
  --color-gray: #d1d2d4;
  --color-gray-dark: #818181;
  --color-blue: #040926;
  --color-blue-light: #034A66;
  --color-red: #D24344;
  --color-green: #48B16E;
  --color-orange: #F9B974;
  --color-indigo: #5EB1FF;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1.4;
  font-family: "Inter", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Inter", sans-serif;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  text-align: left;
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  transition: all 0.3s ease 0s;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: var(--color-white);
  color: var(--color-black);
}
body._lock {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1390px;
  margin: 0 auto;
  padding: 0 15px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 24px;
  color: var(--color-black);
  font-weight: 600;
  line-height: 1.35;
}

.h1_white,
.h2_white,
.h3_white,
.h4_white,
.h5_white,
.h6_white {
  color: var(--color-white);
}

.h1_gold,
.h2_gold,
.h3_gold,
.h4_gold,
.h5_gold,
.h6_gold {
  color: var(--color-gold);
}

.h1 {
  font-size: 32px;
}

.h2 {
  font-size: 28px;
}

.h3 {
  font-size: 24px;
}

.h4 {
  font-size: 20px;
}

.h5 {
  font-size: 18px;
}

.h6 {
  font-size: 16px;
}

.header {
  position: relative;
}
@media (max-width: 992px) {
  .header {
    margin: 86px 0px 0px 0px;
  }
}
@media (max-width: 768px) {
  .header {
    margin: 68px 0px 0px 0px;
  }
}

.header-top {
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-gray);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 12;
  transition: all 0.3s ease 0s;
}
.header-top__body {
  display: flex;
}
.header-top__main-block {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  padding: 18px 60px;
}
@media (max-width: 1100px) {
  .header-top__main-block {
    padding: 18px;
  }
}
@media (max-width: 768px) {
  .header-top__main-block {
    padding: 10px 18px;
  }
}
.header-top__burger {
  display: none;
}
@media (max-width: 768px) {
  .header-top__burger {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    border-right: 1px solid var(--color-gray);
  }
}
@media (max-width: 768px) {
  .header-top__logo {
    flex: 1 1 auto;
  }
}

.logo {
  display: inline-block;
  width: 200px;
}
@media (max-width: 768px) {
  .logo {
    width: 150px;
  }
}
@media (max-width: 450px) {
  .logo {
    width: 110px;
  }
}

.header-search {
  margin: 0px 0px 0px 20px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}
.header-search__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}
.header-search__button-close {
  display: none;
}
.header-search__input {
  flex: 1 1 auto;
}
.header-search__input input {
  width: 100%;
  padding: 7px 13px;
  border: 1px solid var(--color-gold);
}
.header-search__input input:focus {
  box-shadow: 0 0 7px 1px rgba(196, 122, 44, 0.2) inset;
}
@media (max-width: 768px) {
  .header-search {
    width: 100%;
    margin: 0 auto;
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-gray);
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 11;
    transition: all 0.3s ease 0s;
    transform: translateY(-120%);
  }
  .header-search._active {
    transform: translateY(0%);
  }
  .header-search__button-close {
    padding: 13px 12px;
    display: block;
    font-size: 30px;
    border-right: 1px solid var(--color-gray);
  }
  .header-search__input input {
    padding: 20px 15px;
    border: none;
  }
  .header-search__input input:focus {
    box-shadow: none;
  }
  .header-search .button_search {
    padding: 0 20px 0px 0px;
    font-size: 0;
    background-color: transparent;
  }
  .header-search .button_search i {
    margin-left: 0 !important;
    font-size: 26px;
    color: var(--color-black);
  }
}

.header-search-button {
  display: none;
}
@media (max-width: 768px) {
  .header-search-button {
    display: block;
    color: var(--color-blue);
    font-size: 26px;
  }
}

.login-users {
  margin: 0px 0px 0px 20px;
  padding: 7px 25px;
  font-size: 16px;
  color: var(--color-blue);
  border: 1px solid var(--color-blue);
  cursor: pointer;
}
.login-users:hover {
  color: var(--color-gold);
}
.login-users i {
  margin-left: 16px;
}
@media (max-width: 992px) {
  .login-users {
    padding: 0;
    border: none;
    font-size: 0;
  }
  .login-users i {
    font-size: 34px;
    margin-left: 0;
  }
}

.header .dropdown-menu {
  margin: 0 auto;
  width: 100%;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray);
  box-shadow: 2px 8px 16px rgba(60, 60, 60, 0.12);
  border-radius: 0px;
}

.dropdown-menu-wrapper {
  overflow: hidden;
  overflow-y: auto;
  max-height: calc(100vh - 100px);
}

.dropdown-menu-login {
  min-width: 380px;
  max-width: 380px;
  inset: 10px 0px auto auto !important;
}
@media (max-width: 992px) {
  .dropdown-menu-login .dropdown-arrow {
    right: 8px;
  }
}
@media (max-width: 410px) {
  .dropdown-menu-login {
    min-width: 310px;
    inset: 0px -5px auto auto !important;
  }
  .dropdown-menu-login .dropdown-arrow {
    right: 13px;
  }
}
.dropdown-menu-login .input input {
  padding: 10px;
}
.dropdown-menu-login .checkbox input:checked + .checkbox__label:after {
  left: 6px;
  top: 6px;
  width: 9px;
  height: 6px;
}
.dropdown-menu-login .checkbox__label {
  font-size: 14px;
}
.dropdown-menu-login .checkbox__label:before {
  margin: 0px 10px 0px 0px;
  flex: 0 0 20px;
  width: 20px;
  height: 20px;
}
.dropdown-menu-login .link {
  font-size: 14px;
}
.dropdown-menu-login .button {
  padding: 10px 0;
}
.dropdown-menu-login .button_empty {
  padding: 8px 0;
}

.notifications-user {
  font-size: 24px;
  position: relative;
}
.notifications-user .badge {
  padding: 4px 6px;
  font-size: 11px;
  font-weight: 500;
  background-color: var(--color-red);
  border-radius: 10px;
  position: absolute;
  top: 0;
  right: -12px;
}

.dropdown-menu-notifications {
  min-width: 680px;
  max-width: 680px;
  inset: 10px -30px auto auto !important;
  transform: translate(0px, 36px) !important;
}
.dropdown-menu-notifications .dropdown-arrow {
  right: 33px;
}
@media (max-width: 768px) {
  .dropdown-menu-notifications {
    min-width: 500px;
    max-width: 500px;
    inset: 10px -60px auto auto !important;
  }
  .dropdown-menu-notifications .dropdown-arrow {
    right: 63px;
  }
}
@media (max-width: 576px) {
  .dropdown-menu-notifications {
    min-width: 380px;
    max-width: 380px;
  }
}
@media (max-width: 410px) {
  .dropdown-menu-notifications {
    min-width: 310px;
  }
}
.dropdown-menu-notifications__check-all:hover {
  text-decoration: underline;
}

.tab-pane-notifications {
  max-height: 300px;
}

.menu-user {
  font-size: 14px;
}
.menu-user i.bi-person-circle {
  font-size: 24px;
}
@media (max-width: 992px) {
  .menu-user__name {
    display: none;
  }
}

.dropdown-menu-user {
  min-width: 260px;
  max-width: 260px;
  inset: 10px 0px auto auto !important;
}
.dropdown-menu-user .dropdown-arrow {
  right: 65px;
}
@media (max-width: 992px) {
  .dropdown-menu-user .dropdown-arrow {
    right: 3px;
  }
}
.dropdown-menu-user a {
  font-size: 16px;
  color: var(--color-blue);
}
.dropdown-menu-user a i {
  font-size: 18px;
  color: var(--color-gray-dark);
}
.dropdown-menu-user a:hover {
  color: var(--color-gold);
  background-color: var(--color-gray);
}

.header-bottom {
  margin: 74px 0px 0px 0px;
  padding: 14px 0px;
  background-color: var(--color-gray-dark);
  transition: all 0.3s ease 0s;
}
.header-bottom._header-menu-open {
  transform: translateX(300px);
}
@media (max-width: 992px) {
  .header-bottom {
    display: none;
  }
}
.header-bottom__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-bottom__col {
  display: flex;
  align-items: center;
}
.header-bottom__item {
  color: var(--color-white);
}
.header-bottom__item span {
  font-weight: 700;
}
.header-bottom__item:not(:last-child) {
  margin: 0px 30px 0px 0px;
}

.header-menu {
  padding: 74px 0px 0px 0px;
  height: 100%;
  width: 52px;
  background-color: var(--color-white);
  border-right: 1px solid var(--color-gray);
  position: fixed;
  top: 0px;
  left: 0;
  z-index: 11;
  transition: all 0.3s ease 0s;
}
.header-menu._active {
  width: 300px;
}
.header-menu._active .menu-header__link {
  font-size: 16px;
}
.header-menu._active .menu-header__button {
  font-size: 16px;
}
@media (max-width: 768px) {
  .header-menu {
    display: block;
    width: 100%;
    max-width: 400px;
    transform: translateX(-120%);
  }
  .header-menu._active {
    width: 100%;
    transform: translateX(0%);
  }
}

.menu-header__list {
  padding: 0px 0px 24px 0px;
  margin: 0 auto;
  border-bottom: 1px solid var(--color-gray);
}
.menu-header__list:last-child {
  padding: 24px 0px 24px 0px;
  border-bottom: none;
}
.menu-header__collapse {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-header__link {
  flex: 1 1 auto;
  padding: 14px 0px 14px 16px;
  display: flex;
  align-items: center;
  font-size: 0px;
  color: var(--color-black);
  white-space: nowrap;
}
.menu-header__link i {
  font-size: 20px;
}
.menu-header__link:hover {
  color: var(--color-gold);
}
.menu-header__button {
  padding: 14px 16px;
  transform: rotate(180deg);
  transition: all 0.3s ease 0s;
  font-size: 0;
}
.menu-header__button.collapsed {
  transform: rotate(0deg);
}
.menu-header__button:hover {
  color: var(--color-gold);
}

.submenu-header {
  padding-left: 0px;
}
.submenu-header__link {
  display: block;
  padding: 10px 16px 10px 54px;
  color: var(--color-black);
}
.submenu-header__link:hover {
  color: var(--color-gold);
}

.burger {
  width: 100%;
  padding: 16px;
  margin: 0px 0px 0px auto;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-gray);
  transition: all 0.3s ease 0s;
}
.burger i {
  color: var(--color-black);
  font-size: 20px;
}
.burger:hover {
  background-color: var(--color-gray);
}
.burger._active i:before {
  transform: rotate(180deg);
}
@media (max-width: 768px) {
  .burger {
    width: 30px;
    height: 18px;
    padding: 0;
    background-color: transparent;
    border-bottom: none;
    position: relative;
    z-index: 11;
  }
  .burger:hover {
    background-color: transparent;
  }
  .burger i {
    display: none;
  }
  .burger span {
    width: 100%;
    height: 2px;
    background-color: var(--color-blue);
    position: absolute;
    top: 8px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .burger span:first-child {
    top: 0;
  }
  .burger span:last-child {
    top: auto;
    bottom: 0;
  }
  .burger._active span {
    transform: scale(0);
  }
  .burger._active span:first-child {
    transform: rotate(-45deg);
    top: 8px;
  }
  .burger._active span:last-child {
    transform: rotate(45deg);
    bottom: 8px;
  }
}

.footer {
  background-color: var(--color-blue-light);
  font-size: 16px;
  color: var(--color-white);
}
.footer__body {
  padding: 24px 0px;
}

.form-news {
  position: relative;
}
.form-news__header {
  display: none;
}
@media (max-width: 768px) {
  .form-news__header {
    padding: 0 15px;
    border-top: 1px solid var(--color-gray);
    border-left: 1px solid var(--color-gray);
    border-right: 1px solid var(--color-gray);
    display: flex;
    align-items: center;
  }
}
.form-news__title-category {
  padding-right: 20px;
  flex: 1 1 auto;
  font-size: 18px;
  color: var(--color-gold);
  text-align: center;
}
.form-news__button-menu i {
  font-size: 30px;
  color: var(--color-gold);
  transition: all 0.3s ease 0s;
}
.form-news__button-menu._active i:before {
  transform: rotate(180deg);
}
.form-news__menu {
  padding-top: 3px;
  display: flex;
}
@media (max-width: 768px) {
  .form-news__menu {
    padding: 12px 0;
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 2;
    width: 280px;
    background-color: var(--color-white);
    box-shadow: 0px 4px 4px rgba(106, 58, 7, 0.25), -6px 0px 4px rgba(106, 58, 7, 0.25);
  }
  .form-news__menu._show {
    display: block;
  }
}

.item-news-category {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-black);
  cursor: pointer;
}
.item-news-category:hover:not(._active) {
  color: var(--color-black);
  background-color: var(--color-gray);
}
@media (min-width: 768px) {
  .item-news-category {
    margin: 0px 10px 0px 0px;
    height: 100%;
    padding: 10px 17px;
    border-top: 1px solid var(--color-gray);
    border-left: 1px solid var(--color-gray);
    border-right: 1px solid var(--color-gray);
    background-color: transparent;
  }
  .item-news-category:last-child {
    margin: 0px;
  }
}
@media (max-width: 768px) {
  .item-news-category {
    display: block;
    padding: 10px 24px;
  }
}
.item-news-category._active {
  color: var(--color-white);
  background-color: var(--color-gold);
  cursor: default;
}

.form-question-answer__item input {
  display: none;
}
.form-question-answer__item input:checked + .form-question-answer__label {
  color: var(--color-gold);
  border-color: var(--color-gold);
}
.form-question-answer__label {
  padding: 12px 0px 12px 20px;
  margin: 0;
  font-size: 18px;
  color: var(--color-black);
  border-left: 8px solid var(--color-gray);
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease 0s;
}
.form-question-answer__label:hover {
  color: var(--color-gold-light);
}

@media (min-width: 1100px) {
  .form-documents__button-open {
    display: none;
  }
}
.form-documents__button-close {
  font-size: 30px;
  position: absolute;
  top: 15px;
  right: 15px;
}
@media (min-width: 1100px) {
  .form-documents__button-close {
    display: none;
  }
}
@media (max-width: 1100px) {
  .form-documents__wrapper {
    height: 100%;
    width: 100%;
    max-width: 400px;
    padding: 70px 30px 30px;
    background-color: var(--color-white);
    box-shadow: -7px 0px 7px -1px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0px;
    right: 0;
    z-index: 12;
    transition: all 0.3s ease 0s;
    transform: translateX(120%);
    overflow-y: auto;
  }
  .form-documents__wrapper._open {
    transform: translateX(0%);
  }
}
@media (max-width: 1100px) and (max-width: 576px) {
  .form-documents__wrapper {
    padding: 70px 15px 15px;
  }
}
.form-documents__input {
  margin: 0px 0px 30px 0px;
  font-size: 16px;
  color: var(--color-gray-dark);
  position: relative;
}
.form-documents__input input {
  width: 100%;
  padding: 10px 35px 10px 15px;
  font-size: 16px;
  color: var(--color-gray-dark);
  border: 1px solid var(--color-gold);
}
.form-documents__input input:focus {
  box-shadow: 0px 0px 7px 1px rgba(196, 122, 44, 0.2) inset;
}
.form-documents__input i {
  position: absolute;
  top: 10px;
  right: 10px;
}
@media (max-width: 1100px) {
  .form-documents__input {
    margin: 0px 0px 40px 0px;
  }
}
.form-documents__clear-all {
  font-size: 16px;
  color: var(--color-gray-dark);
}
.form-documents__clear-all:hover {
  text-decoration: underline;
}
.form-documents__checkbox:not(:last-child) {
  margin: 0px 0px 30px 0px;
}
.form-documents__checkbox > .checkbox {
  margin: 0px 0px 15px 0px;
}
.form-documents__sub-checkbox {
  padding-left: 40px;
}
.form-documents__sub-checkbox .checkbox:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.label {
  margin: 0px 0px 10px 0px;
  font-weight: 500;
}

.input {
  font-size: 16px;
  color: var(--color-black);
}
.input._error > input {
  border-color: red;
}
.input._error > .input__text-error {
  display: block;
}
.input._error-email > .input__text-error-email {
  display: block;
}
.input label {
  margin: 0px 0px 10px 0px;
  display: block;
  font-weight: 500;
}
.input label span {
  color: var(--color-red);
}
.input input {
  width: 100%;
  padding: 15px;
  border: 1px solid var(--color-gray);
  background-color: transparent;
}
.input input:-webkit-autofill, .input input:-webkit-autofill:hover, .input input:-webkit-autofill:focus, .input input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--color-white) inset !important;
}
.input input:focus {
  border: 1px solid var(--color-gold);
  box-shadow: 0 0 7px 1px rgba(196, 122, 44, 0.2) inset;
}
.input input:disabled {
  background-color: var(--color-gray);
}
.input__password {
  position: relative;
}
.input__password .icon-password {
  font-size: 25px;
  color: var(--color-gray);
  position: absolute;
  top: 50%;
  right: 17px;
  transform: translateY(-50%);
  z-index: 2;
  cursor: pointer;
}
.input__password._error > input {
  border-color: red;
}
.input__password._error ~ .input__text-error {
  display: block;
}
.input__email {
  position: relative;
}
.input__email .i {
  display: none;
}
.input__email._check i {
  font-size: 18px;
  color: #5CB85C;
  position: absolute;
  top: 50%;
  right: 17px;
  transform: translateY(-50%);
  z-index: 2;
  cursor: pointer;
}
.input__email._check ~ .input__text-email {
  display: block;
}
.input__text-error, .input__text-error-email {
  margin: 10px 0px 0px 0px;
  display: none;
  font-size: 14px;
  color: var(--color-red);
}
.input__text-email {
  margin: 10px 0px 0px 0px;
  display: none;
  font-size: 14px;
  color: var(--color-gray);
}

.checkbox._error > .checkbox__label:before {
  border-color: var(--color-red);
}
.checkbox input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.checkbox input:checked + .checkbox__label:before {
  border: 2px solid var(--color-gold);
}
.checkbox input:checked + .checkbox__label:after {
  content: "";
  position: absolute;
  left: 7px;
  top: 7px;
  width: 12px;
  height: 7px;
  border-left: 2.5px solid var(--color-gold);
  border-bottom: 2.5px solid var(--color-gold);
  transform: rotate(-50deg);
}
.checkbox__label {
  font-size: 16px;
  color: var(--color-black);
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.checkbox__label_text {
  flex: 1 1 auto;
}
.checkbox__label_count {
  margin: 0px 3px 0px 10px;
  color: var(--color-gray-dark);
}
.checkbox__label:before {
  content: "";
  margin: 0px 16px 0px 0px;
  align-self: flex-start;
  flex: 0 0 25px;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: 1px solid var(--color-gray-dark);
  border-radius: 3px;
  left: 0;
  top: 0;
}
.checkbox__label a {
  color: var(--color-blue-light);
}
.checkbox__label a:hover {
  text-decoration: underline;
}

.radio input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.radio input:checked + .radio__label:before {
  border-color: var(--color-gold);
}
.radio input:checked + .radio__label:after {
  content: "";
  position: absolute;
  left: 6px;
  top: 6px;
  width: 12px;
  height: 12px;
  background-color: var(--color-gold);
  border-radius: 50%;
}
.radio__label {
  font-size: 16px;
  color: var(--color-black);
  display: flex;
  position: relative;
  cursor: pointer;
}
.radio__label:before {
  content: "";
  margin: 0px 12px 0px 0px;
  align-self: flex-start;
  flex: 0 0 24px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: 2px solid var(--color-gray-dark);
  border-radius: 50%;
  left: 0;
  top: 0;
}

.select {
  width: 100%;
  padding: 15px;
  border: 1px solid var(--color-gray);
  background-color: transparent;
}
.select:focus {
  border: 1px solid var(--color-gold);
  box-shadow: 0 0 7px 1px rgba(196, 122, 44, 0.2) inset;
}

.textarea {
  font-size: 16px;
  color: var(--color-black);
}
.textarea._error > input {
  border-color: red;
}
.textarea._error > .input__text-error {
  display: block;
}
.textarea label {
  margin: 0px 0px 10px 0px;
  display: block;
  font-weight: 500;
}
.textarea label span {
  color: var(--color-red);
}
.textarea textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid var(--color-gray);
  background-color: transparent;
}
.textarea textarea:focus {
  border: 1px solid var(--color-gold);
  box-shadow: 0 0 7px 1px rgba(196, 122, 44, 0.2) inset;
}
.textarea__text-error {
  margin: 10px 0px 0px 0px;
  display: none;
  font-size: 14px;
  color: var(--color-red);
}

.file-input__title {
  margin: 0px 0px 10px 0px;
  font-size: 16px;
  font-weight: 500;
}
.file-input input {
  width: 0.1px;
  height: 0.1px;
  overflow: hidden;
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.file-input label {
  width: 100%;
  padding: 20px;
  color: var(--color-gray);
  border: 1px dashed var(--color-gray);
  cursor: pointer;
  display: block;
  position: relative;
}
.file-input label i {
  font-size: 30px;
}
.file-input label:hover {
  color: var(--color-gray-dark);
  border-color: var(--color-gold);
}
.file-input__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.file-input__btn-remove {
  color: var(--color-gray);
  font-size: 30px;
  transition: all 0.3s ease 0s;
  position: absolute;
  top: 5px;
  right: 5px;
}
.file-input__btn-remove:hover {
  color: var(--color-gold);
  transform: rotate(360deg) scale(1.2);
}

.form-check {
  margin-bottom: 0;
}

.form-switch {
  padding-left: 0;
}
.form-switch .form-check-input {
  margin: 0;
  border: none;
  background-image: none;
  background-color: var(--color-gray);
  width: 44px;
  height: 24px;
  position: relative;
  cursor: pointer;
}
.form-switch .form-check-input:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  background: var(--color-white);
  border-radius: 50%;
  transition: all 0.3s ease 0s;
}
.form-switch .form-check-input:focus {
  box-shadow: none;
}
.form-switch .form-check-input:active {
  filter: none;
}
.form-switch .form-check-input:active:after {
  width: 25px;
}
.form-switch .form-check-input:checked {
  background-image: none;
  background-color: var(--color-gold);
}
.form-switch .form-check-input:checked:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.profile-photo {
  width: 200px;
  flex: 0 0 200px;
  height: 200px;
  position: relative;
}
.profile-photo__body {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.profile-photo img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  object-fit: cover;
}
.profile-photo:hover .profile-photo__input {
  transform: translateY(0%);
}
.profile-photo:hover .profile-photo__delete {
  transform: translateY(0%);
  opacity: 1;
  visibility: visible;
}
.profile-photo__input {
  background: linear-gradient(180deg, rgba(22, 22, 22, 0) 0%, rgba(21, 21, 21, 0.08) 38.54%, rgba(20, 20, 20, 0.22) 64.06%, rgba(26, 26, 26, 0.68) 99.6%);
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  transition: transform 0.2s ease 0s;
}
.profile-photo__input label {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 14px 0px;
  font-size: 16px;
  color: var(--color-white);
  cursor: pointer;
}
.profile-photo__input label i {
  font-size: 32px;
}
.profile-photo__input input {
  display: none;
}
.profile-photo__delete {
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-gray);
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 20px;
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
  transition: 0.2s ease 0s;
}
.profile-photo__delete i {
  font-size: 20px;
}
.profile-photo__delete:hover {
  background-color: #e0e0e4;
}

.notification-all {
  font-size: 14px;
  color: var(--color-gray);
}
.notification-all .checkbox input:checked + .checkbox__label:after {
  left: 4px;
  top: 7px;
  width: 8px;
  height: 5px;
}
.notification-all .checkbox__label:before {
  margin: 3px 8px 0 0;
  flex: 0 0 16px;
  width: 16px;
  height: 16px;
}
.notification-all__btn-clear {
  font-size: 16px;
}
.notification-all__btn-clear:hover {
  text-decoration: underline;
}

.item-form-accordion:not(:last-child) {
  margin: 0px 0px 24px 0px;
}
.item-form-accordion__title {
  border-bottom: 1px solid var(--color-gray);
}
.item-form-accordion__button {
  width: 100%;
  padding: 16px 0px;
  color: var(--color-black);
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}
.item-form-accordion__button span {
  flex: 1 1 auto;
  text-align: left;
}
.item-form-accordion__button i:before {
  font-size: 20px;
  font-weight: 700 !important;
  transition: all 0.3s ease 0s;
}
.item-form-accordion__button.collapsed i:before {
  transform: rotate(180deg);
}
.item-form-accordion__body {
  padding: 24px 24px 0px;
}
@media (max-width: 576px) {
  .item-form-accordion__body {
    padding: 16px 8px 0px;
  }
}

.wrapper-form {
  width: 100%;
  max-width: 550px;
}

.accordion-form:not(:last-child) {
  margin: 0px 0px 30px 0px;
}
.accordion-form__button {
  padding-bottom: 16px;
  width: 100%;
  font-size: 16px;
  color: var(--color-blue-light);
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.accordion-form__button span {
  flex: 1 1 auto;
  text-align: left;
}
.accordion-form__button i:before {
  color: var(--color-gray-dark);
  transition: all 0.3s ease 0s;
}
.accordion-form__button.collapsed i:before {
  transform: rotate(180deg);
}
.accordion-form__filter {
  max-height: 220px;
  overflow-y: auto;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 1 auto;
  transition: all 0.3s ease 0s;
}

.typetitle {
  margin-bottom: 35px;
  font-size: 60px;
  color: #393185;
}

.cursor {
  display: inline-block;
  background-color: rgba(57, 49, 133, 0.5);
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}

.cursor.typing {
  animation: none;
}

@keyframes blink {
  0% {
    background-color: rgba(57, 49, 133, 0.5);
  }
  49% {
    background-color: rgba(57, 49, 133, 0.5);
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: rgba(57, 49, 133, 0.5);
  }
}

/*# sourceMappingURL=style.css.map */
